@use "_mixin";

.secondary-news-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  @include mixin.l{
    grid-template-columns: 1fr;
  }
  @include mixin.m{
    grid-template-columns: 1fr 1fr;
  }
  @include mixin.s{
    grid-template-columns: 1fr;
  }
  .news-item-title {
    font-size: 14px;
  }
  .news-item{
    a {
      display: flex;
      column-gap: 20px;
    }
  }
  .image-wrapper{
    @include mixin.xl{
      height: unset;
    }
    img{
    height: 80px;
    width: 120px;
  } 
  }
}